body {
  background-color: lightgray;
}
h1 {
  color: white;
  text-align: center;
  background-color: maroon;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
h3 {
  color: black;
  text-align: left;
}
div {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}
p {
  font-size: 16px;
  font-style: normal;
}
